@model ProductDTO

<form asp-action="Create" method="post" style="display: flex; flex-direction: column; gap: 1rem; align-items: center; margin-top: 1rem;">
    <input type="hidden" asp-for="@Model.Id" placeholder="Id"/>
    <input type="text" asp-for="@Model.Name"  placeholder="Nome" style="width: 50%; height: 40px;"/>
   <textarea asp-for="@Model.Description"  placeholder="Descrição" style="width: 50%; height: 100px;"></textarea>
    <input type="number" asp-for="@Model.Price"  placeholder="Preço" style="width: 50%; height: 40px;"/>
    <input type="number" asp-for="@Model.Stock"  placeholder="Estoque" style="width: 50%; height: 40px;"/>
    <input type="text" asp-for="@Model.Image"  placeholder="Imagen" style="width: 50%; height: 40px;"/>
    <input type="number" asp-for="@Model.CategoryId" placeholder="Categoria Id">
    <button>Create or Update</button>
</form>